<%- include('../partials/header') %>

<div class="container my-5">
  <%- include('../partials/flash') %>
  <h1>My Favorites</h1>

  <% if (favorites.length === 0) { %>
  <p>You haven't favorited any memes yet.</p>
  <% } else { %>
  <div class="row">
    <p class="text-muted">Favorites count: <%= favorites.length %></p>

    <div
      class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3 mt-3"
    >
      <% favorites.forEach(meme => { %>
      <div class="col">
        <%- include('../partials/meme-thumbnails', { meme, size: 'small' }) %>
      </div>
      <% }) %>
    </div>
  </div>
  <% } %>
</div>

<%- include('../partials/test-footer') %>
