<%- include('../partials/header') %>

<div class="container mt-4">
  <%- include('../partials/flash') %>
  <h2>Search results for "<%= query %>"</h2>
    <% if (memes.length > 0) { %>
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3 mt-3 mb-6">
        <% memes.forEach(meme => { %>
          <div class="col">
            <%- include('../partials/meme-thumbnails', { meme, size: 'small' }) %>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p>No matching memes found.</p>
    <% } %>
  </div>
</div>

<%- include('../partials/test-footer') %>
