<%- include('../partials/header') %>  <!-- Include site-wide header (nav, title, etc) -->
<%- include('../partials/flash') %>   <!-- Show flash success/error messages -->

<h1>
  <% if (mine) { %>
    <%= currentUser.name %>'s Memes
  <% } else { %>
    All Memes
  <% } %>
</h1>

<ul class="list-group">
  <% memes.forEach(function(meme) { %>
    <li class="list-group-item">
      <h3>
        <a href="/memes/<%= meme._id %>"><%= meme.name %></a>
      </h3>
      <p style="white-space: pre-line;"><%= meme.description %></p>
      <% if (meme.images && meme.images.length > 0) { %>
        <div class="d-flex flex-wrap gap-2 mb-2">
          <% meme.images.forEach(function(imgUrl) { %>
            <a href="/memes/<%= meme._id %>">
              <img
                src="<%= imgUrl %>"
                alt="<%= meme.name %>"
                class="me-2 mb-2 img-fluid rounded"
                style="max-height: 150px;"
              />
            </a>
          <% }) %>
        </div>
      <% } else if (meme.image) { %>
        <div class="mb-3">
          <a href="/memes/<%= meme._id %>">
            <img
              src="<%= meme.image %>"
              alt="<%= meme.name %>"
              class="mb-2 img-fluid rounded"
              style="max-height: 150px;"
            />
          </a>
        </div>  
      <% } %>
    </li>
  <% }) %>
</ul>

<%- include('../partials/test-footer') %>  <!-- site-wide footer (scripts, links, etc) -->