<%- include('../partials/header') %>  <!-- Include site-wide header (nav, title, etc) -->
<%- include('../partials/flash') %>   <!-- Show flash success/error messages -->

<h1>
  <% if (mine) { %>
    <%= currentUser.name %>'s Memes
  <% } else { %>
    All Memes
  <% } %>
</h1>

<ul class="list-group">
  <% memes.forEach(function(meme) { %>
    <li class="list-group-item">
      <h3>
        <a href="/memes/<%= meme._id %>"><%= meme.name %></a>
      </h3>
      <p style="white-space: pre-line;"><%= meme.description %></p>
      <% if (meme.image) { %>
        <a href="/memes/<%= meme._id %>">
          <img src="<%= meme.image %>" alt="<%= meme.name %>" class="mb-3" style="max-height: 200px;" />
        </a>
      <% } %>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>  <!-- site-wide footer (scripts, links, etc) -->