<%- include('../partials/header') %>

<div class="container mt-4">
  <%- include('../partials/flash') %>
  <h2 class="mb-4">Memes tagged with "<%= tag.name %>"</h2>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-2">
     <% memes.forEach(meme => { %>
    <div class="col">
      <%- include('../partials/meme-thumbnails', { meme, size: 'small' }) %>
    </div>
  <% }) %>
  </div>
</div>

<%- include('../partials/test-footer') %>