<%- include('../partials/header') %>  <!-- Shared site header -->

<h1>Change Password</h1>

<!-- Show flash error or success messages -->
<% if (error && error.length) { %>
  <div class="flash error"><%= error[0] %></div>
<% } %>
<% if (success && success.length) { %>
  <div class="flash success"><%= success[0] %></div>
<% } %>

<form action="/users/<%= user._id %>/change-password?_method=PUT" method="POST">
  <!-- New password input -->
  <label for="password">New Password *</label>
  <input type="password" name="password" id="password" required placeholder="Enter new password">

  <!-- Confirm password input -->
  <label for="confirm">Confirm New Password *</label>
  <input type="password" name="confirm" id="confirm" required placeholder="Confirm new password"">

  <button type="submit">Change Password</button>
</form>

<%- include('../partials/footer') %>  <!-- Shared site footer -->