<%- include('../partials/header') %>  <!-- Include site-wide header (nav, title, etc) -->
<%- include('../partials/flash') %>   <!-- Show flash success/error messages -->

<h1>Community</h1>

<!-- Heading for the list of users -->
<h2>All Users</h2>

<ul>
  <% users.forEach(function(user) { %>  <!-- Loop through each user -->
    <li>
      <!-- Link to this user's profile page -->
      <a href="/users/<%= user._id %>"><%= user.name %></a>
    </li>
  <% }) %>
</ul>

<%- include('../partials/test-footer') %>  <!-- site-wide footer (scripts, links, etc) -->