<%- include('../partials/header') %>  <!-- Include site-wide header (nav, title, etc) -->

<div class="container my-5">
  <%- include('../partials/flash') %>   <!-- Show flash success/error messages -->


  <h1 class="mb-4">Community</h1>

  <h2 class="mb-3">All Users</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% users.forEach(user => { %>
      <div class="col">
        <div class="d-flex align-items-center gap-3">
          <div class="avatar-container" style="width: 64px; height: 64px;">
            <%- user.avatarSvg %>
          </div>
          <a href="/users/<%= user._id %>" class="fs-5 fw-semibold text-decoration-none">
            <%= user.name %>
          </a>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include('../partials/test-footer') %>  <!-- site-wide footer (scripts, links, etc) -->