<%- include('../partials/header') %>  <!-- Include site-wide header (nav, title, etc) -->

<div class="container my-5">
  <%- include('../partials/flash') %>   <!-- Show flash success/error messages -->


  <h1 class="mb-5">Community Members</h1>

  <!-- <h2 class="mb-3">All Users</h2> -->

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
    <% users.forEach(user => { %>
      <div class="col text-center">
        <a href="/users/<%= user._id %>" class="text-decoration-none text-body d-block">
          <div class="avatar-container mx-auto mb-2" style="width: 96px; height: 96px;">
            <img src="https://api.dicebear.com/7.x/fun-emoji/svg?seed=<%= user.avatarSeed %>" alt="Avatar" class="rounded mb-2">
          </div>
          <div class="small text-muted"><%= user.name %></div>
        </a>
      </div>
    <% }) %>
  </div>
</div>

<%- include('../partials/test-footer') %>  <!-- site-wide footer (scripts, links, etc) -->