<%- include('../partials/header') %>  <!-- Include site-wide header (nav, title, etc) -->
<%- include('../partials/flash') %>   <!-- Show flash success/error messages -->

<h1><%= isNew ? 'Create Account' : 'Edit Your Profile' %></h1>


<form action="<%= isNew ? '/register' : `/users/${user._id}?_method=PUT` %>" method="POST">
  <!-- Public display name (username) -->
  <label for="name">User Name *</label>
  <input type="text" name="name" id="name" required value="<%= user?.name || '' %>">

  <!-- Email address -->
  <label for="email">Email Address *</label>
  <input type="email" name="email" id="email" required value="<%= user?.email || '' %>">

  
  <% if (isNew) { %>
    <!-- Password -->
    <label for="password">Password *</label>
    <input type="password" name="password" id="password" required>

    <!-- Confirm Password -->
    <label for="confirm">Confirm Password *</label>
    <input type="password" name="confirm" id="confirm" required>
  <% } %>
    
  <!-- Bio -->
  <label for="bio">Bio</label>
  <textarea name="bio" id="bio" rows="4"><%= user?.bio || '' %></textarea>

  <!-- Social Links -->
  <label for="instagram">Instagram URL</label>
  <input type="url" name="instagram" id="instagram" value="<%= user?.social?.instagram || '' %>">

  <label for="twitter">Twitter URL</label>
  <input type="url" name="twitter" id="twitter" value="<%= user?.social?.twitter || '' %>">

  <label for="facebook">Facebook URL</label>
  <input type="url" name="facebook" id="facebook" value="<%= user?.social?.facebook || '' %>">

  <label for="linkedin">LinkedIn URL</label>
  <input type="url" name="linkedin" id="linkedin" value="<%= user?.social?.linkedin || '' %>">

 <button type="submit"><%= isNew ? 'Create Account' : 'Update Account' %></button>

<a href="/users/<%= user._id %>">
  <button type="button">Cancel</button>
</a>

</form>

<%- include('../partials/footer') %>  <!-- site-wide footer (scripts, links, etc) -->